* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    background-color: #000;
}

.navbar_logo a {
    color: white;
    font-size: 2em;

}

.navbar_list a {
    color: white;
    padding: 10px;
    font-size: 0.9em;
}

.navbar_list li {
    list-style: none;
    display: inline-block;
}

a {
    text-decoration: none;
}

.banner {
    background-color: salmon;
}

.step_two {
    background-color: lightgray;
}

.banner,
.step_one,
.step_two,
.step_three {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0;

}

.center-line {
    display: flex;
    justify-content: center;
    align-items: center;
}

.line {
    border-bottom: lightgray solid 1px;
    width: 50%;

}

.banner_desc {
    width: 50%;
}

.banner_desc h1,
.step_one_desc h1,
.step_two_desc h1,
.step_three_desc h1 {
    letter-spacing: 10px;
    font-size: 2em;
    width: 60%;

}

.banner_desc p,
.step_one_desc p,
.step_two_desc p,
.step_three_desc p {
    padding: 30px 0;
    width: 80%;
    font-size: 1.2em;
}

.banner_img {
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-gap: 10px;
    width: 300px;
    height: 300px;
}

.banner_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.navbar_social img {
    background-color: #ffffff;
    border-radius: 100px;
    padding: 5px;
    height: 25px;
    width: 25px;
    margin: 3px;
}

.desc_first {
    width: 70%;
    margin: 0 auto;
    padding: 70px 0;
    text-align: center;
    border-bottom: lightgray solid 1px;
}

.desc_first h1 {
    padding-bottom: 20px;
}

.step_one_img {
    height: 300px;
    width: 300px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);

}

.step_one_img_one {
    grid-column: 7/11;
    grid-row: 1/6;
}

.step_one_img_two {
    grid-column: 9/12;
    grid-row: 2/5;
    border: #ffffff 15px solid;
}


.step_one_desc {
    width: 50%;
}

.step_one_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.step_one h3 {
    padding: 20px;
}


.step_two_img {
    height:400px;
    width: 400px;
    display: grid;
    grid-template-columns: repeat(30, 1fr);
    grid-template-rows: repeat(15, 1fr);
}

.step_two_img_one {
    grid-column: 10/30;
    grid-row: 4/30;
    border: #ffffff 10px solid;
}

.step_two_img_two {
    grid-row: 1/10;
    grid-column: 4/27;
    border: #ffffff 10px solid;
}

.step_two_img_three {
    grid-row: 6/14;
    grid-column: 1/15;
    border: #ffffff 10px solid;
}


.step_two_desc {
    width: 50%;

}

.step_two_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.step_three_img {
    width: 300px;
    height: 500px;
    padding-top: 20px;
}

.step_three_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.step_three_desc {
    width: 50%;

}

.desc_second {
    text-align: center;
    margin: 20px;
}

.desc_second p {
    margin: 10px auto;
    width: 50%;
}

.portfolio {
    text-align: center;
}

.getpricing {
    border: none;
    background-color: #000;
    color: white;
    padding: 10px;
    margin: 20px;
}

.portfolio {

    margin-top: 90px;
    background-color: #000;
    text-align: center;
}

.portfolio h1 {
    color: white;
    padding: 70px 0 30px 0;
    font-size: 3em;
}

.portfolio_img_wrapper {
    padding: 50px;
}

.portfolio_img {
    padding: 5px;
    display: inline-block;
    width: 150px;
    height: 150px;

}

.portfolio_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.seeit {
    border: none;
    background-color: white;
    color: #000;
    padding: 10px;
    margin: 10px;

}

hr {
    border: #000 10px solid;
    width: 40%;
    margin: 10px 0;

}

.seeitwrapper {
    padding: 60px;
}

@media screen and (max-width: 700px) {
    .banner,
    .step_two,
    .step_one,
    .step_three {
        flex-direction: column;
        flex-wrap: wrap;
        padding: 0px;


    }

    .navbar {
        flex-direction: column;
        text-align: center;
        height: 150px;
    }

    .banner_desc,
    .desc_second p,
    .step_one_desc,
    .step_two_desc,
    .step_three_desc {
        width: 90%;
    }

    .desc_first {
        width: 70%
    }

    .banner_img,
    .step_one_img,
    .step_two_img,
    .step_three {
        padding: 20px 0 20px 0;
    }

    .banner_desc h1,
    .step_one_desc h1,
    .step_two_desc h1,
    .step_three_desc h1 {
        font-size: 1.6em;
        width: 100%;
        padding: 10px 0;
    }

    .banner_desc p {
        width: 100%;
    }
    .banner_desc p,
    .step_one_desc p,
    .step_two_desc p,
    .step_three_desc p {
        width: 100%;

    }
    .step_two_img {
        height:300px;
        width: 300px;}

}